<ul class="nav">
	<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="{{ "/" | link_page }}">Home</a></li>
	<li {% if mixture.url == "2012" %}class="current"{% endif %}><a href="{{ "/2012" | link_page }}">2012</a></li>
  <li {% if mixture.url == "2011" %}class="current"{% endif %}><a href="{{ "/2011" | link_page }}">2011</a></li>
  <li {% if mixture.url == "2010" %}class="current"{% endif %}><a href="{{ "/2010" | link_page }}">2010</a></li>
  <li {% if mixture.url == "2009" %}class="current"{% endif %}><a href="{{ "/2009" | link_page }}">2009</a></li>

</ul>